PORT=
MONGODB=
JWT_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

GEMINI_API_KEY=

OPENROUTER_API_KEY=

UNSPLASH_ACCESS_KEY=
UNSPLASH_SECRET_KEY=

CLOUDINARY_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

BACKEND_URL=
FRONTEND_URL=

LOCAL_BACKEND_URL=
LOCAL_FRONTEND_URL=